/* Style TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* */

/* Fonts */
@font-face {
    font-family: "Helvetica Neue";
    src: url("src/assets/fonts/HelveticaNeueLTProLt.otf") format("opentype");
   }
/* */

/* Menu */
.menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    transition: all 0.7s ease-in-out;
    background-color: #1e1e1e;
    transform: translateX(100%) scale(0.1);
    transform-origin: 30% -50%;
    opacity: 0;
}

.menu--mobile {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) scale(1);
}

/* General */
body {
    font-family: "Helvetica Neue", sans-serif;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

/*  */
@layer components {
    .border__header {
        @apply border-noir border-t-2 mt-5 sm:mt-8 w-4/5 mx-auto sm:text-[30px];
    }
}


/* Media responsive */
@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}